/* tangerine-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: 400;
  src: url('../font/tangerine-v17-latin/tangerine-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* tangerine-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: 700;
  src: url('../font/tangerine-v17-latin/tangerine-v17-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Corps de la page */
body {
  margin-top: 270px;
  box-sizing: border-box; /* Correction ici */
}

/* Barre de navigation */
.navbar {
  background: #6ab3b2 !important;
}

/* Logo */
#logo {
  height: 100px;
  width: 100px;
}

/* Affichage en flex reverse pour .collapse */
div .collapse {
  flex-direction: row-reverse;
}

/* Header */
header {
  font-family: 'Tangerine';
}

h1 {
  font-family: 'Tangerine';
  font-size: 100px;
  width: 100%;
}

/* Main */
h2 { 
  font-family: 'Tangerine';
  font-size: 40px;
}

/* Admin */
.MenuAdmin #btn1 {

  background-color: darkcyan;
  border-radius: 10px;
  margin: 0 auto;
}

#slideToggle a {

  text-decoration: none;
  background-color: darkcyan;
  border-radius: 10px;
  color: black;
  padding: 8px;
  border: 1px solid black; /* Correction de 'border-color' à 'border' */
}
/* Footer */

/* Media screen */
@media screen and (min-width: 768px) {
  #logo {
    height: 150px;
    width: 150px;
  }
}

@media screen and (min-width: 1280px) {
  #logo {
    height: 200px;
    width: 200px;
  }
}

